
<app-header></app-header>
<div class="container-fluid d-flex justify-content-center align-items-center min-vh-100 heart-bg">
    <div class="card p-4 shadow">
        <h3 class="text-center mb-4">Enter Your Registered Mobile Number</h3>
        <form (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <input type="text" class="form-control rounded-pill" placeholder="Mobile Number" name="mobileNumber" required />
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-danger rounded-pill">Reset</button>
            </div>
        </form>
    </div>
</div>